div .imgUsers{
    width: 100px;
    height: 100px;
}

.selectedPage{
    font-weight: bold;
}

.userWrapper span{
    margin-left: 8px;
    cursor: pointer;
}

.Loader{
    position: absolute;
    width: 200px;
    text-align: left;

}