.App-wrapper{
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: "h h" "n c";
}

.App-wrapper-var{
    grid-area: c;
    background: rgb(141, 77, 125);
}


.App-wrapper-var img{
    width: 100%;
    height: 200px;
}




